body {
  margin: 0;
  padding: 0;
}
/*HEAD*/
header {
  background-image: url("../img/pattern.png");
  background-size: 300px;
  background-color: rgb(68, 140, 209);
  height: 100px;
  
}

svg {
  width: 150px; 
  height: 120px;
  margin: 10px; 
}



/* MAIN*/
main {
  margin: 10px;
}

.Author, .Data {
  color: gray;
}

.Underimage {
  font-size: smaller;
}

thead {
  background-color: rgb(8, 165, 227);
  color: white;
}

tfoot, .Riga1 {
  background-color: rgb(171, 213, 227);
}

/* .main-text, table, ul {
  margin-top: 20px;
} */


/*FOOTER*/
h4 {
  color: grey;
}

.monitor, .graph {
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 200px;
  text-align: top left;
  color: white;
}

.monitor {
  background-image: url("../img/monitor.jpg");
}

.graph {
  background-image: url("../img/graph.jpg");
}